################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VS/Debug
/VS/tdd_in_cpp/Debug
